<h1 style="text-align: center">{{Languages["title"]}}</h1>
<form>
  <div class="mb-3">
    <span class="form-label">{{Languages["articleName"]}}</span>
    <input type="email" class="form-control" [(ngModel)]="articleTitle" [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <span class="form-label">{{Languages["article"]}}</span><br>

    <quill-editor class="article-style" [(ngModel)]="mainArticleText" [ngModelOptions]="{standalone: true}"></quill-editor><br>

    </div>
  <button class="btn btn-primary" (click)="CreateArticle()">{{Languages["button-createArticle"]}}</button>
</form>
