<div style="text-align: center">
  <div *ngIf="isLoading" class="spinner-border text-{{bootstrapColor[getRandomInt(1, 8)]}}" role="status"></div>
</div>
<div *ngFor="let alert of articles; let i = index;" class="article-container">
  <div class="row">
    <div class="col">
      <span class="h2">{{alert.title}} </span>
      <div *ngIf="isLogged()" class="btn-group btn-group-toggle" [ngSwitch]="alert.status" >
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton (click)="editArticleStatus(true, alert.url); alert.status = true">
          <i class="bx bx-like" *ngSwitchCase="false"></i>
          <i class="bx bx-like" *ngSwitchDefault></i>
          <i class="bx bxs-like" *ngSwitchCase="true"></i>
        </label>
        <label class="btn-outline-secondary" ngbButtonLabel>
          <input type="checkbox" ngbButton (click)="editArticleStatus(false, alert.url); alert.status = false">
          <i class="bx bx-dislike" *ngSwitchCase="true"></i>
          <i class="bx bx-dislike" *ngSwitchDefault></i>
          <i class="bx bxs-dislike" *ngSwitchCase="false"></i>
        </label>
      </div>
      <span style="padding-left: 10px">{{alert.rating.status}}</span>
    </div>
    <div class="col end">
      <a class="btn btn-outline-secondary" href="article/{{articles[i].url}}">Перейти</a>
      <a class="btn btn-outline-secondary" href="article/{{articles[i].url}}">Форум</a>
      <a class="btn btn-outline-secondary" *ngIf="isLogged()" href="article/{{articles[i].url}}">История редактирования</a>
      <a class="btn btn-outline-secondary" *ngIf="isLogged()" href="article/{{articles[i].url}}">Редактировать</a>
    </div>
  </div>
</div>
