.main{
  .description{
    text-align: center;
  }

}
.article-container{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  .end {
    text-align: right;
    margin-right: 60px;
    padding: 0;
  }
}
